MISMOGen/src/conf/xml-resources/web-service-references/MTXWS_v1/wsdl/schemas/MTXWS_cb_types_v1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:TDCc="http://www.isban.es/webservices/TDCc" xmlns:TDCs="http://www.isban.es/webservices/TDCs" xmlns:cbtypes="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/sovereign/intranet/cbTypes/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/sovereign/intranet/cbTypes/v1">
    <xs:import namespace="http://www.isban.es/webservices/TDCs" schemaLocation="./ws_TDCs.xsd"/>
    <xs:import namespace="http://www.isban.es/webservices/TDCc" schemaLocation="./ws_TDCc.xsd"/>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Prescr_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Prescr_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BDP_Id" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
            <xs:element minOccurs="0" name="catalogueProductType" type="TDCc:TIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="catalogueProductSubType" type="TDCc:SUBTIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="empresa" type="TDCs:EMPRESA_Type"/>
            <xs:element minOccurs="0" name="centro" type="TDCc:CENTRO_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Prescr_OUT_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Prescr_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="numberOfOffers" type="TDCs:ENTERO_CORTO_Type"/>
            <xs:element minOccurs="0" name="decision" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="reason" type="TDCs:CODIGO_ALFANUM_50_Type"/>
            <xs:element minOccurs="0" name="mensaje" type="TDCs:DESCRIPCION_CORTA_Type"/>
            <xs:element minOccurs="0" name="listaOffers" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBI_ListaOffers_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBI_ListaOffers_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Prescr_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="offers" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Offers_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Offers_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Prescr_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="descripcion" type="TDCs:CODIGO_ALFANUM_10_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="callType" type="TDCs:COD_ALFANUM_2_Type"/>
            <xs:element minOccurs="0" name="catalogueProductType" type="TDCc:TIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="catalogueProductSubType" type="TDCc:SUBTIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="loanAmount" type="TDCc:IMPORTE_Type"/>
            <xs:element minOccurs="0" name="BureauId" type="TDCs:ENTERO_LARGO_Type"/>
            <xs:element minOccurs="0" name="Lista_BDP_Id" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBI_Lista_BDP_Id_Type"/>
            <xs:element minOccurs="0" name="centro" type="TDCc:CENTRO_Type"/>
            <xs:element minOccurs="0" name="empresa" type="TDCs:EMPRESA_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBI_Lista_BDP_Id_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BDP_Id" nillable="true" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_OUT_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BureauId" type="TDCs:ENTERO_LARGO_Type"/>
            <xs:element minOccurs="0" name="mensaje" type="TDCs:DESCRIPCION_CORTA_Type"/>
            <xs:element minOccurs="0" name="errorMessage" type="TDCs:DESCRIPCION_LARGA_Type"/>
            <xs:element minOccurs="0" name="lista_Errors" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBI_ListErrors_Type"/>
            <xs:element minOccurs="0" name="lista_mismatch" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBI_ListMismatchs_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBI_ListErrors_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="errors" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_ErrorData_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_ErrorData_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="ErrorType" type="TDCs:CODIGO_ALFANUM_30_Type"/>
            <xs:element minOccurs="0" name="flag" type="TDCs:INDICADOR_GENERICO_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBI_ListMismatchs_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="mismatch" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_MismatchData_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_MismatchData_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="flag" type="TDCs:INDICADOR_GENERICO_Type"/>
            <xs:element minOccurs="0" name="MismatchType" type="TDCs:CODIGO_ALFANUM_30_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AggInfo_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AggInfo_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BureauId" type="TDCs:ENTERO_LARGO_Type"/>
            <xs:element minOccurs="0" name="centro" type="TDCc:CENTRO_Type"/>
            <xs:element minOccurs="0" name="empresa" type="TDCs:EMPRESA_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AggInfo_OUT_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AggInfo_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="CustomerType" type="TDCs:CODIGO_ALFANUM_50_Type"/>
            <xs:element minOccurs="0" name="CallType" type="TDCs:CODIGO_ALFANUM_2_Type"/>
            <xs:element minOccurs="0" name="catalogueProductType" type="TDCc:TIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="catalogueProductSubType" type="TDCc:SUBTIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="Lista_BureauName" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBI_Bureau_Name_Type"/>
            <xs:element minOccurs="0" name="CBI_AggInfoApplicants" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBI_AggInfoApplicants_Type"/>
            <xs:element minOccurs="0" name="CBK_ApplicationInfo" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_ApplicationInfo_Type"/>
            <xs:element minOccurs="0" name="mensaje" type="TDCs:DESCRIPCION_CORTA_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBI_Bureau_Name_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AggInfo_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BureauName" nillable="true" type="TDCs:CODIGO_ALFANUM_2_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBI_AggInfoApplicants_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AggInfo_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CBK_AppInfo" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AppInfo_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AppInfo_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AggInfo_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="mergedSummaryApplicant" type="TDCs:XML_COMPOSICION_PI_Type"/>
            <xs:element minOccurs="0" name="mergedMISMOApplicant" type="TDCs:XML_COMPOSICION_PI_Type"/>
            <xs:element minOccurs="0" name="BDP_Id" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_ApplicationInfo_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AggInfo_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="mergedSummaryApplication" type="TDCs:XML_COMPOSICION_PI_Type"/>
            <xs:element minOccurs="0" name="mergedMISMOApplication" type="TDCs:XML_COMPOSICION_PI_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getCurrentData_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getCurrentData_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="callType" type="TDCs:CODIGO_ALFANUM_2_Type"/>
            <xs:element minOccurs="0" name="catalogueProductType" type="TDCc:TIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="catalogueProductSubType" type="TDCc:SUBTIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="bureauName" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="BDP_Id" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
            <xs:element minOccurs="0" name="vigencia" type="TDCs:CODIGO_ALFANUM_3_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getCurrentData_OUT_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getCurrentData_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BDP_Id" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
            <xs:element minOccurs="0" name="catalogueProductType" type="TDCc:TIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="catalogueProductSubType" type="TDCc:SUBTIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="BureauName" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="ListaRaw" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBI_ListCurrentData_Type"/>
            <xs:element minOccurs="0" name="mensaje" type="TDCs:DESCRIPCION_CORTA_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBI_ListCurrentData_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getCurrentData_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CurrentData" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_CurrentData_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_CurrentData_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getCurrentData_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BureauName" type="TDCs:CODIGO_ALFANUM_2_Type"/>
            <xs:element minOccurs="0" name="rawInfo" type="TDCs:XML_COMPOSICION_PI_Type"/>
            <xs:element minOccurs="0" name="fechaDato" type="TDCs:FECHA_GENERICA_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getRawABu_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getRawABu_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BureauId" type="TDCs:ENTERO_LARGO_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getRawABu_OUT_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getRawABu_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="callType" type="TDCs:CODIGO_ALFANUM_2_Type"/>
            <xs:element minOccurs="0" name="ProductType" type="TDCc:TIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="ProductSubtype" type="TDCc:SUBTIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="CadenaBureauName" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="Lista_Raw_Info" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBI_ListCurrentData_Type"/>
            <xs:element minOccurs="0" name="mensaje" type="TDCs:DESCRIPCION_CORTA_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getMISMOAllApplicants_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getMISMOAllApplicants_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BureauId" type="TDCs:ENTERO_LARGO_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getMISMOAllApplicants_OUT_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getMISMOAllApplicants_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="MISMO_ApplicantLevel" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBI_MISMO_Type"/>
            <xs:element minOccurs="0" name="mensaje" type="TDCs:DESCRIPCION_CORTA_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBI_MISMO_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getMISMOAllApplicants_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="mismoInfo" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_MISMO_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_MISMO_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getMISMOAllApplicants_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="mismo" type="TDCs:XML_COMPOSICION_PI_Type"/>
            <xs:element minOccurs="0" name="BDP_Id" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Recalculate_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Recalculate_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BureauId" type="TDCs:ENTERO_LARGO_Type"/>
            <xs:element minOccurs="0" name="Lista_BDP_Id" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBI_Lista_BDP_Id_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion_m.f.cb.CBK_CBCall_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion_m.f.cb.CBK_CBCall_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BureauId" type="TDCs:ENTERO_LARGO_Type"/>
            <xs:element minOccurs="0" name="BDP_Id" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
            <xs:element minOccurs="0" name="BureauName" type="TDCs:COD_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="forceCall" type="TDCs:INDICADOR_GENERICO_Type"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>