MISMOGen/src/conf/xml-resources/web-service-references/MTXWS_v1/wsdl/schemas/MTXWS_cb_types_v2.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:TDCc="http://www.isban.es/webservices/TDCc" xmlns:TDCs="http://www.isban.es/webservices/TDCs" xmlns:cbtypes="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/sovereign/intranet/cbTypes/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/sovereign/intranet/cbTypes/v2">
    <xs:import namespace="http://www.isban.es/webservices/TDCs" schemaLocation="./ws_TDCs.xsd"/>
    <xs:import namespace="http://www.isban.es/webservices/TDCc" schemaLocation="./ws_TDCc.xsd"/>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_Prescr_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_Prescr_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="bdpId" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
            <xs:element minOccurs="0" name="catalogueProductType" type="TDCc:TIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="catalogueProductSubType" type="TDCc:SUBTIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="empresa" type="TDCs:EMPRESA_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_Prescr_OUT_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_Prescr_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="numberOfOffers" type="TDCs:ENTERO_CORTO_Type"/>
            <xs:element minOccurs="0" name="decision" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="reason" type="TDCs:CODIGO_ALFANUM_50_Type"/>
            <xs:element minOccurs="0" name="mensaje" type="TDCs:DESCRIPCION_EXTRALARGA_Type"/>
            <xs:element minOccurs="0" name="listaOffers" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBI_ListaOffers_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBI_ListaOffers_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_Prescr_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="offers" nillable="true" type="TDCs:CODIGO_ALFANUM_10_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_BureauCall_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_BureauCall_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="callType" type="TDCs:COD_ALFANUM_2_Type"/>
            <xs:element minOccurs="0" name="catalogueProductSubType" type="TDCc:SUBTIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="loanAmount" type="TDCc:IMPORTE_Type"/>
            <xs:element minOccurs="0" name="listaBDPId" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBI_ListaBDPId_Type"/>
            <xs:element minOccurs="0" name="bureauIdMtx" type="TDCc:BUREAUID_MTX_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBI_ListaBDPId_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_BureauCall_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="bdpId" nillable="true" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_BureauCall_OUT_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_BureauCall_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="mensaje" type="TDCs:DESCRIPCION_EXTRALARGA_Type"/>
            <xs:element minOccurs="0" name="errorMessage" type="TDCs:DESCRIPCION_LARGA_Type"/>
            <xs:element minOccurs="0" name="listaErrors" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBI_ListErrors_Type"/>
            <xs:element minOccurs="0" name="listaMismatch" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBI_ListMismatchs_Type"/>
            <xs:element minOccurs="0" name="bureauIdMtx" type="TDCc:BUREAUID_MTX_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBI_ListErrors_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_BureauCall_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="errors" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBK_ErrorData_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_ErrorData_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_BureauCall_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="errorType" type="TDCs:CODIGO_ALFANUM_30_Type"/>
            <xs:element minOccurs="0" name="flag" type="TDCs:INDICADOR_GENERICO_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBI_ListMismatchs_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_BureauCall_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="mismatch" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBK_MismatchData_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_MismatchData_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_BureauCall_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="flag" type="TDCs:INDICADOR_GENERICO_Type"/>
            <xs:element minOccurs="0" name="mismatchType" type="TDCs:CODIGO_ALFANUM_30_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfo_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfo_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="bureauIdMtx" type="TDCc:BUREAUID_MTX_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfo_OUT_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfo_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="customerType" type="TDCs:CODIGO_ALFANUM_50_Type"/>
            <xs:element minOccurs="0" name="callType" type="TDCs:CODIGO_ALFANUM_2_Type"/>
            <xs:element minOccurs="0" name="catalogueProductSubType" type="TDCc:SUBTIPO_DE_PRODUCTO_Type"/>
            <xs:element minOccurs="0" name="listaBureauName" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBI_BureauName_Type"/>
            <xs:element minOccurs="0" name="aggInfoApplicants" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBI_AggInfoApplicants_Type"/>
            <xs:element minOccurs="0" name="applicationInfo" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBK_ApplicationInfo_Type"/>
            <xs:element minOccurs="0" name="mensaje" type="TDCs:DESCRIPCION_EXTRALARGA_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBI_BureauName_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfo_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="bureauName" nillable="true" type="TDCs:CODIGO_ALFANUM_2_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBI_AggInfoApplicants_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfo_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="applicantInfo" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AppInfo_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AppInfo_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfo_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="mergedSummaryApplicant" type="TDCs:DOCUMENTO_GRANDE_XML_Type"/>
            <xs:element minOccurs="0" name="mergedMISMOApplicant" type="TDCs:DOCUMENTO_GRANDE_XML_Type"/>
            <xs:element minOccurs="0" name="bdpId" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_ApplicationInfo_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfo_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="mergedSummaryApplication" type="TDCs:DOCUMENTO_GRANDE_XML_Type"/>
            <xs:element minOccurs="0" name="mergedMISMOApplication" type="TDCs:DOCUMENTO_GRANDE_XML_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_Recalculate_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_Recalculate_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="listaBDPId" type="cbtypes:com.banesto.al.mtxcor.gestion.m.f.cb.CBI_ListaBDPId_Type"/>
            <xs:element minOccurs="0" name="bureauIdMtx" type="TDCc:BUREAUID_MTX_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_CbCall_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_CbCall_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BDPId" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
            <xs:element minOccurs="0" name="bureauNames" type="TDCs:COD_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="forceCall" type="TDCs:INDICADOR_GENERICO_Type"/>
            <xs:element minOccurs="0" name="bureauIdMtx" type="TDCc:BUREAUID_MTX_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfoTrades_IN_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfoTrades_IN</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="BDPId" type="TDCc:NUM_PERSONA_CLIENTE_Type"/>
            <xs:element minOccurs="0" name="bureauIdMtx" type="TDCc:BUREAUID_MTX_Type"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfoTrades_OUT_Type">
        <xs:annotation>
            <xs:appinfo>ContextBean</xs:appinfo>
            <xs:appinfo>com.banesto.al.mtxcor.gestion.m.f.cb.CBK_AggInfoTrades_OUT</xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="disputedApt" type="TDCs:CODIGO_ALFANUM_4_Type"/>
            <xs:element minOccurs="0" name="balCredRatioOpenTradesApp" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="balLoanAmtRatOAutoApp" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="balCreRatioOpenBankApp" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="balCredRAllORevTRApp" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="balCredRAllORetRevTRApp" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="balCredRAllORevTrO12mApp" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="openBankCardCredR50App" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="openBankCardCredR90App" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="openBankCardCredR100App" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="openRetRevTrBalCredRat90App" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="openRevTrBalCredRat90App" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="balLoanAmtREstTrTApt" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="balLoanAmtRatOInstApp" type="TDCs:COD_ALFANUM_3_Type"/>
            <xs:element minOccurs="0" name="autoTrades" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="mortgageTrades" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="installmentTrades" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="studentLoansRepayment" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="studentLoans" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="homeEquityTrades" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="revolvingRetailTrades" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="bankCardTrades" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="revTrades" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="otherTrades" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="aggregateAllTrages" type="TDCs:CODIGO_ALFANUM_10_Type"/>
            <xs:element minOccurs="0" name="totalBalanceAllTrades" type="TDCs:CODIGO_ALFANUM_10_Type"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>