MISMOGen/src/java/META-INF/MTXWS_v1.xml

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:TDCs="http://www.isban.es/webservices/TDCs" xmlns:cbtypes="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/sovereign/intranet/cbTypes/v1" xmlns:fault="http://www.gruposantander.es/webservices/genericFault" xmlns:faultExceptions="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/sovereign/intranet/functionalFaults/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1">
    <documentation>MTXWS</documentation>
    <types>
        <xs:schema targetNamespace="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1">
            <xs:import namespace="http://www.gruposantander.es/webservices/genericFault" schemaLocation="./schemas/fault.xsd"/>
            <xs:import namespace="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/sovereign/intranet/functionalFaults/v1" schemaLocation="./schemas/MTXWS_functionalFaults_v1.xsd"/>
            <xs:import namespace="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/sovereign/intranet/cbTypes/v1" schemaLocation="./schemas/MTXWS_cb_types_v1.xsd"/>
            <xs:import namespace="http://www.isban.es/webservices/TDCs" schemaLocation="./schemas/ws_TDCs.xsd"/>
            <xs:element name="prescreeningCall">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CBK_prescreem" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Prescr_IN_Type">
                            <xs:annotation>
                                <xs:documentation>descripción del parámetro de entrada</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="MTXWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="prescreeningCallResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Prescr_OUT_Type">
                            <xs:annotation>
                                <xs:documentation>descripción de salida de prescreeningCall</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="bureauCall">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CBk_bureau" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_IN_Type">
                            <xs:annotation>
                                <xs:documentation>descripción del parametro de entrada</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="MTXWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="bureauCallResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_OUT_Type">
                            <xs:annotation>
                                <xs:documentation>descripción de salida de bureauCall</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInformationAggregated">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Cbk_AggInfo_IN" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AggInfo_IN_Type">
                            <xs:annotation>
                                <xs:documentation>descripción del parámetro de entrada</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="MTXWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInformationAggregatedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_AggInfo_OUT_Type">
                            <xs:annotation>
                                <xs:documentation>descripción de salida de getInformationAggregated</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentBureauData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="getCurrent_IN" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getCurrentData_IN_Type">
                            <xs:annotation>
                                <xs:documentation>descripción del parámetro de entrada</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="MTXWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentBureauDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getCurrentData_OUT_Type">
                            <xs:annotation>
                                <xs:documentation>descripción de salida de getCurrentBureauData</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRawAllBureaus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Cbk_RawAllBureau_IN" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getRawABu_IN_Type">
                            <xs:annotation>
                                <xs:documentation>descripción del parámetro de entrada</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="MTXWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRawAllBureausResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getRawABu_OUT_Type">
                            <xs:annotation>
                                <xs:documentation>descripción de salida de getRawAllBureaus</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMISMOAllApplicants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="getMismo_IN" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getMISMOAllApplicants_IN_Type">
                            <xs:annotation>
                                <xs:documentation>descripción del parámetro de entrada</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="MTXWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMISMOAllApplicantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getMISMOAllApplicants_OUT_Type">
                            <xs:annotation>
                                <xs:documentation>descripción de salida de getMISMOAllApplicants</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recalculateCall">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Cbk_recalculate_IN" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_Recalculate_IN_Type">
                            <xs:annotation>
                                <xs:documentation>descripción del parámetro de entrada</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="MTXWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="recalculateCallResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_OUT_Type">
                            <xs:annotation>
                                <xs:documentation>descripción de salida de recalculateCall</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cbCall">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Cbk_cbCall_IN" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_CBCall_IN_Type">
                            <xs:annotation>
                                <xs:documentation>descripción del parametro de entrada</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="MTXWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="cbCallResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_BureauCall_OUT_Type">
                            <xs:annotation>
                                <xs:documentation>descripción de salida de cbCall</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="prescreeningCall_Input">
        <part element="tns:prescreeningCall" name="prescreeningCall_InputPart"/>
    </message>
    <message name="prescreeningCall_Output">
        <part element="tns:prescreeningCallResponse" name="prescreeningCall_OutputPart"/>
    </message>
    <message name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA" name="com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_FaultPart"/>
    </message>
    <message name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION" name="com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_FaultPart"/>
    </message>
    <message name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY" name="com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_FaultPart"/>
    </message>
    <message name="prescreeningCall_Fault">
        <part element="fault:Exception" name="prescreeningCall_FaultPart"/>
    </message>
    <message name="bureauCall_Input">
        <part element="tns:bureauCall" name="bureauCall_InputPart"/>
    </message>
    <message name="bureauCall_Output">
        <part element="tns:bureauCallResponse" name="bureauCall_OutputPart"/>
    </message>
    <message name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA" name="com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_FaultPart"/>
    </message>
    <message name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION" name="com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_FaultPart"/>
    </message>
    <message name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY" name="com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_FaultPart"/>
    </message>
    <message name="bureauCall_Fault">
        <part element="fault:Exception" name="bureauCall_FaultPart"/>
    </message>
    <message name="getInformationAggregated_Input">
        <part element="tns:getInformationAggregated" name="getInformationAggregated_InputPart"/>
    </message>
    <message name="getInformationAggregated_Output">
        <part element="tns:getInformationAggregatedResponse" name="getInformationAggregated_OutputPart"/>
    </message>
    <message name="getInformationAggregated_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA" name="com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_FaultPart"/>
    </message>
    <message name="getInformationAggregated_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION" name="com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_FaultPart"/>
    </message>
    <message name="getInformationAggregated_Fault">
        <part element="fault:Exception" name="getInformationAggregated_FaultPart"/>
    </message>
    <message name="getCurrentBureauData_Input">
        <part element="tns:getCurrentBureauData" name="getCurrentBureauData_InputPart"/>
    </message>
    <message name="getCurrentBureauData_Output">
        <part element="tns:getCurrentBureauDataResponse" name="getCurrentBureauData_OutputPart"/>
    </message>
    <message name="getCurrentBureauData_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION" name="com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_FaultPart"/>
    </message>
    <message name="getCurrentBureauData_Fault">
        <part element="fault:Exception" name="getCurrentBureauData_FaultPart"/>
    </message>
    <message name="getRawAllBureaus_Input">
        <part element="tns:getRawAllBureaus" name="getRawAllBureaus_InputPart"/>
    </message>
    <message name="getRawAllBureaus_Output">
        <part element="tns:getRawAllBureausResponse" name="getRawAllBureaus_OutputPart"/>
    </message>
    <message name="getRawAllBureaus_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION" name="com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_FaultPart"/>
    </message>
    <message name="getRawAllBureaus_Fault">
        <part element="fault:Exception" name="getRawAllBureaus_FaultPart"/>
    </message>
    <message name="getMISMOAllApplicants_Input">
        <part element="tns:getMISMOAllApplicants" name="getMISMOAllApplicants_InputPart"/>
    </message>
    <message name="getMISMOAllApplicants_Output">
        <part element="tns:getMISMOAllApplicantsResponse" name="getMISMOAllApplicants_OutputPart"/>
    </message>
    <message name="getMISMOAllApplicants_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION" name="com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_FaultPart"/>
    </message>
    <message name="getMISMOAllApplicants_Fault">
        <part element="fault:Exception" name="getMISMOAllApplicants_FaultPart"/>
    </message>
    <message name="recalculateCall_Input">
        <part element="tns:recalculateCall" name="recalculateCall_InputPart"/>
    </message>
    <message name="recalculateCall_Output">
        <part element="tns:recalculateCallResponse" name="recalculateCall_OutputPart"/>
    </message>
    <message name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA" name="com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_FaultPart"/>
    </message>
    <message name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION" name="com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_FaultPart"/>
    </message>
    <message name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY" name="com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_FaultPart"/>
    </message>
    <message name="recalculateCall_Fault">
        <part element="fault:Exception" name="recalculateCall_FaultPart"/>
    </message>
    <message name="cbCall_Input">
        <part element="tns:cbCall" name="cbCall_InputPart"/>
    </message>
    <message name="cbCall_Output">
        <part element="tns:cbCallResponse" name="cbCall_OutputPart"/>
    </message>
    <message name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA" name="com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_FaultPart"/>
    </message>
    <message name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION" name="com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_FaultPart"/>
    </message>
    <message name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault">
        <part element="faultExceptions:com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY" name="com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_FaultPart"/>
    </message>
    <message name="cbCall_Fault">
        <part element="fault:Exception" name="cbCall_FaultPart"/>
    </message>
    <portType name="MTXWSPortTypeHTTP">
        <operation name="recalculateCall">
            <documentation>descripción del método recalculateCall</documentation>
            <input message="tns:recalculateCall_Input" name="recalculateCall_Input"/>
            <output message="tns:recalculateCall_Output" name="recalculateCall_Output"/>
            <fault message="tns:recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault" name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault"/>
            <fault message="tns:recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault"/>
            <fault message="tns:recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault" name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault"/>
            <fault message="tns:recalculateCall_Fault" name="recalculateCall_Fault"/>
        </operation>
        <operation name="getMISMOAllApplicants">
            <documentation>descripción del método getMISMOAllApplicants</documentation>
            <input message="tns:getMISMOAllApplicants_Input" name="getMISMOAllApplicants_Input"/>
            <output message="tns:getMISMOAllApplicants_Output" name="getMISMOAllApplicants_Output"/>
            <fault message="tns:getMISMOAllApplicants_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" name="getMISMOAllApplicants_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault"/>
            <fault message="tns:getMISMOAllApplicants_Fault" name="getMISMOAllApplicants_Fault"/>
        </operation>
        <operation name="getCurrentBureauData">
            <documentation>descripción del método getCurrentBureauData</documentation>
            <input message="tns:getCurrentBureauData_Input" name="getCurrentBureauData_Input"/>
            <output message="tns:getCurrentBureauData_Output" name="getCurrentBureauData_Output"/>
            <fault message="tns:getCurrentBureauData_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" name="getCurrentBureauData_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault"/>
            <fault message="tns:getCurrentBureauData_Fault" name="getCurrentBureauData_Fault"/>
        </operation>
        <operation name="prescreeningCall">
            <documentation>descripción del método prescreeningCall</documentation>
            <input message="tns:prescreeningCall_Input" name="prescreeningCall_Input"/>
            <output message="tns:prescreeningCall_Output" name="prescreeningCall_Output"/>
            <fault message="tns:prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault" name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault"/>
            <fault message="tns:prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault"/>
            <fault message="tns:prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault" name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault"/>
            <fault message="tns:prescreeningCall_Fault" name="prescreeningCall_Fault"/>
        </operation>
        <operation name="getInformationAggregated">
            <documentation>descripción del método getInformationAggregated</documentation>
            <input message="tns:getInformationAggregated_Input" name="getInformationAggregated_Input"/>
            <output message="tns:getInformationAggregated_Output" name="getInformationAggregated_Output"/>
            <fault message="tns:getInformationAggregated_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault" name="getInformationAggregated_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault"/>
            <fault message="tns:getInformationAggregated_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" name="getInformationAggregated_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault"/>
            <fault message="tns:getInformationAggregated_Fault" name="getInformationAggregated_Fault"/>
        </operation>
        <operation name="bureauCall">
            <documentation>descripción del método bureauCall</documentation>
            <input message="tns:bureauCall_Input" name="bureauCall_Input"/>
            <output message="tns:bureauCall_Output" name="bureauCall_Output"/>
            <fault message="tns:bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault" name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault"/>
            <fault message="tns:bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault"/>
            <fault message="tns:bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault" name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault"/>
            <fault message="tns:bureauCall_Fault" name="bureauCall_Fault"/>
        </operation>
        <operation name="getRawAllBureaus">
            <documentation>descripción del método getRawAllBureaus</documentation>
            <input message="tns:getRawAllBureaus_Input" name="getRawAllBureaus_Input"/>
            <output message="tns:getRawAllBureaus_Output" name="getRawAllBureaus_Output"/>
            <fault message="tns:getRawAllBureaus_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" name="getRawAllBureaus_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault"/>
            <fault message="tns:getRawAllBureaus_Fault" name="getRawAllBureaus_Fault"/>
        </operation>
        <operation name="cbCall">
            <documentation>descripción del método cbCall</documentation>
            <input message="tns:cbCall_Input" name="cbCall_Input"/>
            <output message="tns:cbCall_Output" name="cbCall_Output"/>
            <fault message="tns:cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault" name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault"/>
            <fault message="tns:cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault"/>
            <fault message="tns:cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault" name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault"/>
            <fault message="tns:cbCall_Fault" name="cbCall_Fault"/>
        </operation>
    </portType>
    <binding name="MTXWSSoapBindingHTTP" type="tns:MTXWSPortTypeHTTP">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="recalculateCall">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1/recalculateCall" style="document"/>
            <input name="recalculateCall_Input">
                <soap:body use="literal"/>
            </input>
            <output name="recalculateCall_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault">
                <soap:fault name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault" use="literal"/>
            </fault>
            <fault name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
                <soap:fault name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" use="literal"/>
            </fault>
            <fault name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault">
                <soap:fault name="recalculateCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault" use="literal"/>
            </fault>
            <fault name="recalculateCall_Fault">
                <soap:fault name="recalculateCall_Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getMISMOAllApplicants">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1/getMISMOAllApplicants" style="document"/>
            <input name="getMISMOAllApplicants_Input">
                <soap:body use="literal"/>
            </input>
            <output name="getMISMOAllApplicants_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="getMISMOAllApplicants_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
                <soap:fault name="getMISMOAllApplicants_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" use="literal"/>
            </fault>
            <fault name="getMISMOAllApplicants_Fault">
                <soap:fault name="getMISMOAllApplicants_Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getCurrentBureauData">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1/getCurrentBureauData" style="document"/>
            <input name="getCurrentBureauData_Input">
                <soap:body use="literal"/>
            </input>
            <output name="getCurrentBureauData_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="getCurrentBureauData_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
                <soap:fault name="getCurrentBureauData_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" use="literal"/>
            </fault>
            <fault name="getCurrentBureauData_Fault">
                <soap:fault name="getCurrentBureauData_Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="prescreeningCall">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1/prescreeningCall" style="document"/>
            <input name="prescreeningCall_Input">
                <soap:body use="literal"/>
            </input>
            <output name="prescreeningCall_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault">
                <soap:fault name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault" use="literal"/>
            </fault>
            <fault name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
                <soap:fault name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" use="literal"/>
            </fault>
            <fault name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault">
                <soap:fault name="prescreeningCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault" use="literal"/>
            </fault>
            <fault name="prescreeningCall_Fault">
                <soap:fault name="prescreeningCall_Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getInformationAggregated">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1/getInformationAggregated" style="document"/>
            <input name="getInformationAggregated_Input">
                <soap:body use="literal"/>
            </input>
            <output name="getInformationAggregated_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="getInformationAggregated_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault">
                <soap:fault name="getInformationAggregated_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault" use="literal"/>
            </fault>
            <fault name="getInformationAggregated_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
                <soap:fault name="getInformationAggregated_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" use="literal"/>
            </fault>
            <fault name="getInformationAggregated_Fault">
                <soap:fault name="getInformationAggregated_Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="bureauCall">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1/bureauCall" style="document"/>
            <input name="bureauCall_Input">
                <soap:body use="literal"/>
            </input>
            <output name="bureauCall_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault">
                <soap:fault name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault" use="literal"/>
            </fault>
            <fault name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
                <soap:fault name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" use="literal"/>
            </fault>
            <fault name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault">
                <soap:fault name="bureauCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault" use="literal"/>
            </fault>
            <fault name="bureauCall_Fault">
                <soap:fault name="bureauCall_Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getRawAllBureaus">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1/getRawAllBureaus" style="document"/>
            <input name="getRawAllBureaus_Input">
                <soap:body use="literal"/>
            </input>
            <output name="getRawAllBureaus_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="getRawAllBureaus_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
                <soap:fault name="getRawAllBureaus_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" use="literal"/>
            </fault>
            <fault name="getRawAllBureaus_Fault">
                <soap:fault name="getRawAllBureaus_Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="cbCall">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTIONCORE/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1/cbCall" style="document"/>
            <input name="cbCall_Input">
                <soap:body use="literal"/>
            </input>
            <output name="cbCall_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault">
                <soap:fault name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.NO_DATA_Fault" use="literal"/>
            </fault>
            <fault name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault">
                <soap:fault name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.GENERAL_EXCEPTION_Fault" use="literal"/>
            </fault>
            <fault name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault">
                <soap:fault name="cbCall_com.banesto.al.mtxcor.gestion_m.f.exc.DUPLICATE_KEY_Fault" use="literal"/>
            </fault>
            <fault name="cbCall_Fault">
                <soap:fault name="cbCall_Fault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="MTXWS_Service">
        <port binding="tns:MTXWSSoapBindingHTTP" name="MTXWSPortHTTP">
            <soap:address location="http://180.102.33.166:9080/MTXSOV_ESCE/ws/MTXSOV_Def_Listener"/>
        </port>
    </service>
</definitions>