mergecomp/WEB-INF/classes/wsdl/MTXSOVWS_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:TDCs="http://www.isban.es/webservices/TDCs" xmlns:cbtypes="http://www.isban.es/webservices/GESTION/Gestion_m/F_mtxcor_gestion_m/sovereign/intranet/cbTypes/v1" xmlns:fault="http://www.gruposantander.es/webservices/genericFault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.isban.es/webservices/GESTION/Gestion_m/F_mtxcor_gestion_m/intranet/MTXSOVWS/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.isban.es/webservices/GESTION/Gestion_m/F_mtxcor_gestion_m/intranet/MTXSOVWS/v1">
    <documentation>MTXSOVWS</documentation>
    <types>
        <xs:schema targetNamespace="http://www.isban.es/webservices/GESTION/Gestion_m/F_mtxcor_gestion_m/intranet/MTXSOVWS/v1">
            <xs:import namespace="http://www.gruposantander.es/webservices/genericFault" schemaLocation="./schemas/fault.xsd"/>
            <xs:import namespace="http://www.isban.es/webservices/GESTION/Gestion_m/F_mtxcor_gestion_m/sovereign/intranet/cbTypes/v1" schemaLocation="./schemas/MTXSOVWS_cb_types_v1.xsd"/>
            <xs:import namespace="http://www.isban.es/webservices/TDCs" schemaLocation="./schemas/ws_TDCs.xsd"/>
            <xs:element name="getCurrentBureauData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="getCurrent_IN" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getCurrentData_IN_Type"/>
                    </xs:sequence>
                    <xs:attribute fixed="MTXSOVWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentBureauDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getCurrentData_OUT_Type"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRawAllBureaus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Cbk_RawAllBureau_IN" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getRawABu_IN_Type"/>
                    </xs:sequence>
                    <xs:attribute fixed="MTXSOVWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRawAllBureausResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getRawABu_OUT_Type"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMISMOAllApplicants">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="getMismo_IN" nillable="true" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getMISMOAllApplicants_IN_Type"/>
                    </xs:sequence>
                    <xs:attribute fixed="MTXSOVWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMISMOAllApplicantsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxcor.gestion_m.f.cb.CBK_getMISMOAllApplicants_OUT_Type"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="getCurrentBureauData_Input">
        <part element="tns:getCurrentBureauData" name="getCurrentBureauData_InputPart"/>
    </message>
    <message name="getCurrentBureauData_Output">
        <part element="tns:getCurrentBureauDataResponse" name="getCurrentBureauData_OutputPart"/>
    </message>
    <message name="getCurrentBureauData_Fault">
        <part element="fault:Exception" name="getCurrentBureauData_FaultPart"/>
    </message>
    <message name="getRawAllBureaus_Input">
        <part element="tns:getRawAllBureaus" name="getRawAllBureaus_InputPart"/>
    </message>
    <message name="getRawAllBureaus_Output">
        <part element="tns:getRawAllBureausResponse" name="getRawAllBureaus_OutputPart"/>
    </message>
    <message name="getRawAllBureaus_Fault">
        <part element="fault:Exception" name="getRawAllBureaus_FaultPart"/>
    </message>
    <message name="getMISMOAllApplicants_Input">
        <part element="tns:getMISMOAllApplicants" name="getMISMOAllApplicants_InputPart"/>
    </message>
    <message name="getMISMOAllApplicants_Output">
        <part element="tns:getMISMOAllApplicantsResponse" name="getMISMOAllApplicants_OutputPart"/>
    </message>
    <message name="getMISMOAllApplicants_Fault">
        <part element="fault:Exception" name="getMISMOAllApplicants_FaultPart"/>
    </message>
    <portType name="MTXSOVWSPortTypeHTTP">
        <operation name="getCurrentBureauData">
            <input message="tns:getCurrentBureauData_Input" name="getCurrentBureauData_Input"/>
            <output message="tns:getCurrentBureauData_Output" name="getCurrentBureauData_Output"/>
            <fault message="tns:getCurrentBureauData_Fault" name="getCurrentBureauData_Fault"/>
        </operation>
        <operation name="getRawAllBureaus">
            <input message="tns:getRawAllBureaus_Input" name="getRawAllBureaus_Input"/>
            <output message="tns:getRawAllBureaus_Output" name="getRawAllBureaus_Output"/>
            <fault message="tns:getRawAllBureaus_Fault" name="getRawAllBureaus_Fault"/>
        </operation>
        <operation name="getMISMOAllApplicants">
            <input message="tns:getMISMOAllApplicants_Input" name="getMISMOAllApplicants_Input"/>
            <output message="tns:getMISMOAllApplicants_Output" name="getMISMOAllApplicants_Output"/>
            <fault message="tns:getMISMOAllApplicants_Fault" name="getMISMOAllApplicants_Fault"/>
        </operation>        
    </portType>
    <binding name="MTXSOVWSSoapBindingHTTP" type="tns:MTXSOVWSPortTypeHTTP">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getCurrentBureauData">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTION/Gestion_m/F_mtxcor_gestion_m/intranet/MTXSOVWS/v1/getCurrentBureauData" style="document"/>
            <input name="getCurrentBureauData_Input">
                <soap:body use="literal"/>
            </input>
            <output name="getCurrentBureauData_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="getCurrentBureauData_Fault">
                <soap:fault name="getCurrentBureauData_Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getRawAllBureaus">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTION/Gestion_m/F_mtxcor_gestion_m/intranet/MTXSOVWS/v1/getRawAllBureaus" style="document"/>
            <input name="getRawAllBureaus_Input">
                <soap:body use="literal"/>
            </input>
            <output name="getRawAllBureaus_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="getRawAllBureaus_Fault">
                <soap:fault name="getRawAllBureaus_Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getMISMOAllApplicants">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTION/Gestion_m/F_mtxcor_gestion_m/intranet/MTXWS/v1/getMISMOAllApplicants" style="document"/>
            <input name="getMISMOAllApplicants_Input">
                <soap:body use="literal"/>
            </input>
            <output name="getMISMOAllApplicants_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="getMISMOAllApplicants_Fault">
                <soap:fault name="getMISMOAllApplicants_Fault" use="literal"/>
            </fault>
        </operation>        
    </binding>
    <service name="MTXSOVWS_Service">
        <port binding="tns:MTXSOVWSSoapBindingHTTP" name="MTXSOVWSPortHTTP">
            <soap:address location="http://180.102.33.166:9080/MTXSOV_ESCE/ws/MTXCOR_Def_Listener"/>
        </port>
    </service>
</definitions>