SantanderStyle/web/WEB-INF/wsdl/MTXUDVWS_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:TDCs="http://www.isban.es/webservices/TDCs" xmlns:cbtypes="http://www.isban.es/webservices/GESTION/Gestion_e/F_mtxscu_gestion_e/scu/intranet/cbTypes/v1" xmlns:fault="http://www.gruposantander.es/webservices/genericFault" xmlns:faultExceptions="http://www.isban.es/webservices/GESTION/Gestion_e/F_mtxscu_gestion_e/scu/intranet/functionalFaults/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.isban.es/webservices/GESTION/Gestion_e/F_mtxscu_gestion_e/intranet/MTXUDVWS/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.isban.es/webservices/GESTION/Gestion_e/F_mtxscu_gestion_e/intranet/MTXUDVWS/v1">
    <documentation>MTXUDVWS</documentation>
    <types>
        <xs:schema targetNamespace="http://www.isban.es/webservices/GESTION/Gestion_e/F_mtxscu_gestion_e/intranet/MTXUDVWS/v1">
            <xs:import namespace="http://www.gruposantander.es/webservices/genericFault" schemaLocation="./schemas/fault.xsd"/>
            <xs:import namespace="http://www.isban.es/webservices/GESTION/Gestion_e/F_mtxscu_gestion_e/scu/intranet/functionalFaults/v1" schemaLocation="./schemas/MTXUDVWS_functionalFaults_v1.xsd"/>
            <xs:import namespace="http://www.isban.es/webservices/GESTION/Gestion_e/F_mtxscu_gestion_e/scu/intranet/cbTypes/v1" schemaLocation="./schemas/MTXUDVWS_cb_types_v1.xsd"/>
            <xs:import namespace="http://www.isban.es/webservices/TDCs" schemaLocation="./schemas/ws_TDCs.xsd"/>
            <xs:element name="getRawAllBureaus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bureauId" nillable="true" type="cbtypes:com.banesto.al.mtxscu.gestion.e.f.cb.CBK_BureauId_Type">
                            <xs:annotation>
                                <xs:documentation>Entrada</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="MTXUDVWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRawAllBureausResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxscu.gestion.e.f.cb.CBK_RawAllBureaus_OUT_Type">
                            <xs:annotation>
                                <xs:documentation>Return all raws data by Bureau Id</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentBureauData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currentBureauData" nillable="true" type="cbtypes:com.banesto.al.mtxscu.gestion.e.f.cb.CBK_CurrentBureauData_IN_Type">
                            <xs:annotation>
                                <xs:documentation>entrada</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute fixed="MTXUDVWS" name="facade" type="TDCs:DESCRIPCION_GENERAL_Type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentBureauDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="methodResult" type="cbtypes:com.banesto.al.mtxscu.gestion.e.f.cb.CBK_CurrentBureauData_OUT_Type">
                            <xs:annotation>
                                <xs:documentation>Raw Info associted every Applicant</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="getRawAllBureaus_Input">
        <part element="tns:getRawAllBureaus" name="getRawAllBureaus_InputPart"/>
    </message>
    <message name="getRawAllBureaus_Output">
        <part element="tns:getRawAllBureausResponse" name="getRawAllBureaus_OutputPart"/>
    </message>
    <message name="getRawAllBureaus_com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_Fault">
        <part element="faultExceptions:com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException" name="com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_FaultPart"/>
    </message>
    <message name="getRawAllBureaus_Fault">
        <part element="fault:Exception" name="getRawAllBureaus_FaultPart"/>
    </message>
    <message name="getCurrentBureauData_Input">
        <part element="tns:getCurrentBureauData" name="getCurrentBureauData_InputPart"/>
    </message>
    <message name="getCurrentBureauData_Output">
        <part element="tns:getCurrentBureauDataResponse" name="getCurrentBureauData_OutputPart"/>
    </message>
    <message name="getCurrentBureauData_com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_Fault">
        <part element="faultExceptions:com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException" name="com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_FaultPart"/>
    </message>
    <message name="getCurrentBureauData_Fault">
        <part element="fault:Exception" name="getCurrentBureauData_FaultPart"/>
    </message>
    <portType name="MTXUDVWSPortTypeHTTP">
        <operation name="getCurrentBureauData">
            <documentation>todo WS getCurrentBureauData</documentation>
            <input message="tns:getCurrentBureauData_Input" name="getCurrentBureauData_Input"/>
            <output message="tns:getCurrentBureauData_Output" name="getCurrentBureauData_Output"/>
            <fault message="tns:getCurrentBureauData_com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_Fault" name="getCurrentBureauData_com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_Fault"/>
            <fault message="tns:getCurrentBureauData_Fault" name="getCurrentBureauData_Fault"/>
        </operation>
        <operation name="getRawAllBureaus">
            <documentation>todo WS getRawAllBureaus</documentation>
            <input message="tns:getRawAllBureaus_Input" name="getRawAllBureaus_Input"/>
            <output message="tns:getRawAllBureaus_Output" name="getRawAllBureaus_Output"/>
            <fault message="tns:getRawAllBureaus_com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_Fault" name="getRawAllBureaus_com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_Fault"/>
            <fault message="tns:getRawAllBureaus_Fault" name="getRawAllBureaus_Fault"/>
        </operation>
    </portType>
    <binding name="MTXUDVWSSoapBindingHTTP" type="tns:MTXUDVWSPortTypeHTTP">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getCurrentBureauData">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTION/Gestion_e/F_mtxscu_gestion_e/intranet/MTXUDVWS/v1/getCurrentBureauData" style="document"/>
            <input name="getCurrentBureauData_Input">
                <soap:body use="literal"/>
            </input>
            <output name="getCurrentBureauData_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="getCurrentBureauData_com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_Fault">
                <soap:fault name="getCurrentBureauData_com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_Fault" use="literal"/>
            </fault>
            <fault name="getCurrentBureauData_Fault">
                <soap:fault name="getCurrentBureauData_Fault" use="literal"/>
            </fault>
        </operation>
        <operation name="getRawAllBureaus">
            <soap:operation soapAction="http://www.isban.es/webservices/GESTION/Gestion_e/F_mtxscu_gestion_e/intranet/MTXUDVWS/v1/getRawAllBureaus" style="document"/>
            <input name="getRawAllBureaus_Input">
                <soap:body use="literal"/>
            </input>
            <output name="getRawAllBureaus_Output">
                <soap:body use="literal"/>
            </output>
            <fault name="getRawAllBureaus_com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_Fault">
                <soap:fault name="getRawAllBureaus_com.banesto.al.mtxscu.gestion.e.f.exc.GeneralException_Fault" use="literal"/>
            </fault>
            <fault name="getRawAllBureaus_Fault">
                <soap:fault name="getRawAllBureaus_Fault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="MTXUDVWS_Service">
        <port binding="tns:MTXUDVWSSoapBindingHTTP" name="MTXUDVWSPortHTTP">
            <soap:address location="http://180.102.33.166:8080/MTXUDV_ESCE/ws/MTXUDV_Def_Listener"/>
        </port>
    </service>
</definitions>
